<app-progress-bar *ngIf="loading == true"></app-progress-bar>
<div class="container">
  <div class="title">
    <h4>Listado de Usuarios</h4>
    <button type="button" class="btn btn-primary" routerLink="/addUser">Agregar Usuario</button>
  </div>
  <table *ngIf="listUsers.length > 0" class="table table-hover">
    <thead>
      <tr class="table-danger">
        <th scope="col">ID</th>
        <td scope="col">Nombre</td>
        <td scope="col">Apellido</td>
        <td scope="col">Telefono</td>
        <td scope="col">Dirección</td>
        <td scope="col">Correo</td>
        <td scope="col"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of listUsers" class="table-active">
        <th>{{ usuario.id }}</th>
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.surname }}</td>
        <td>{{ usuario.phone }}</td>
        <td>{{ usuario.address }}</td>
        <td>{{ usuario.email }}</td>
        <td>
          <button type="button" class="btn btn-info btn-sm" routerLink="/editUser/{{ usuario.id }}">Editar</button>
          <button (click)="deleteUser(usuario.id!)" type="button" class="btn btn-danger btn-sm ms-2">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="listUsers.length == 0">No hay usuarios registrados</h5>
</div>
