<div class="mt-3">
    <div class="col-lg-6 offset-lg-4">
      <div class="card text-white bg-info mb-3" style="max-width: 40rem">
        <div class="card-header text-center"><h3>Agregar equipo de cómputo</h3></div>
        <div class="card-body">
          <form [formGroup]="formEquip" class="form-group" (ngSubmit)="addEquipment">
              <div class="row">
                  <div class="col-lg-6">
                      <label for="name" class="col-form-label col-form-label-lg">Nombre de la sala</label>
                      <input formControlName="name" type="text" class="form-control form-control-lg" name="name">
                      <span *ngIf="formEquip.get('name')?.hasError('required') && formEquip.get('name')?.touched" class="text-sm text-danger">
                          <strong>Campo Requerido</strong>
                      </span>
                  </div>
              </div>
              <div class="row mt-4 text-center">
                  <div class="col-lg-6">
                      <button routerLink="/getEquipment" type="button" class="btn btn-danger btn-lg">Volver</button>
                  </div>
                  <div class="col-lg-6">
                      <button [disabled]="formEquip.invalid" type="submit" class="btn btn-primary btn-lg">Aceptar</button>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  