<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading == true"></app-progress-bar>
<div class="container">
  <div class="title">
    <h4>Listado de Libros</h4>
    <button type="button" class="btn btn-primary" routerLink="/addBook">Agregar Libro</button>
  </div>
  <table *ngIf="listBooks.length > 0" class="table table-hover">
    <thead>
      <tr class="table-danger">
        <th scope="col">ISBN</th>
        <td scope="col">Titulo</td>
        <td scope="col">Autor</td>
        <td scope="col">Editorial</td>
        <td scope="col">Año de Publicación</td>
        <td scope="col"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of listBooks" class="table-active">
        <th>{{ libro.id }}</th>
        <td>{{ libro.title }}</td>
        <td>{{ libro.author }}</td>
        <td>{{ libro.editorial }}</td>
        <td>{{ libro.publishAge }}</td>
        <td class="col-2">
          <button type="button" class="btn btn-info btn-sm" routerLink="/editBook/{{ libro.id }}">Editar</button>
          <button (click)="deleteBook(libro.id!)" type="button" class="btn btn-danger btn-sm ms-2">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="listBooks.length == 0">No hay libros registrados</h5>
</div>
